<script>
  let cats = [
    {
      id: "J---aiyznGQ",
      name: "Keyboard Cat",
    },
    {
      id: "z_AbfPXTKms",
      name: "Maru",
    },
    {
      id: "OUtn3pvWmpg",
      name: "Henri The Existential Cat",
    },
  ];
</script>

<h1>Famous Cats of Youtube</h1>

<ul>
  <li>jflksjadlfkjs</li>
  <li>sdjfklsdjaklfjsdsss</li>
</ul>

<ul>
  {#each cats as cat, i}
    <li>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://www.youtube.com/watch?v={cat.id}">{i + 1}: {cat.name}</a
      >
    </li>
  {/each}
</ul>

<ul>
  {#each cats as { id, name }}
    <li>
      <a
        target="_blank"
        rel="noreferrer"
        href="https://www.youtube.com/watch?v={id}">{name}</a
      >
    </li>
  {/each}
</ul>
