<script>
    import { fly, slide } from "svelte/transition";
    import { enhance } from "$app/forms";

    export let data;
    export let form;
</script>

<h1>todos</h1>

{#if form?.error}
    <p class="error">{form.error}</p>
{/if}

<form action="?/create" method="post" use:enhance>
    <label>
        add a todo:
        <input name="description" required value={form?.description ?? ""} />
    </label>
</form>

<ul>
    {#each data.todos as todo (todo.id)}
        <li class="todo" in:fly={{ y: 20 }} out:slide>
            <form action="?/delete" method="post" use:enhance>
                <input type="hidden" name="id" value={todo.id} />
                <button aria-label="Mark as complete">✔</button>
                {todo.description}
            </form>
        </li>
    {/each}
</ul>
