<script>
    export let data;
</script>

<h1>Todos</h1>

<form action="?/create" method="post">
    <label>
        add a todo:
        <input name="description" />
    </label>
</form>

<ul>
    {#each data.todos as todo (todo.id)}
        <li class="todo">
            <form action="?/delete" method="post">
                <input type="hidden" name="id" value={todo.id} />
                <button aria-label="Mark as complete">✔</button>
                {todo.description}
            </form>
        </li>
    {/each}
</ul>
