<button on:click> Click me </button>

<style>
    button {
        background: #e2e8f0;
        color: #64748b;
        border: unset;
        border-radius: 6px;
        padding: 0.75em 1.5em;
        cursor: pointer;
    }

    button:hover {
        background: #cbd5e1;
        color: #475569;
    }

    button:focus {
        background: #94a3b8;
        color: #f1f5f9;
    }
</style>
