<script>
    let user = { loggedId: false };

    function toggle() {
        user.loggedId = !user.loggedId;
    }
</script>

{#if user.loggedId}
    <button on:click={toggle}> Log out </button>
{:else}
    <button on:click={toggle}>Log In</button>
{/if}
