<script>
    export let data;

    $: console.log(data);
</script>

<h1>Todos</h1>

<form method="post">
    <label>
        add a todo:
        <input name="description" />
    </label>
</form>

{#each data.todos as todo}
    {todo.description}
{/each}
