<script>
    let count = 0;

    $: {
        console.log(`the count is ${count}`);
        alert(`I SAID THE COUNT IS ${count}`);
    }

    $: if (count >= 10) {
        alert("count is dangerously high!");
        count = 0;
    }

    function increment() {
        count += 1;
    }
</script>

<button on:click={increment}>
    Clicked {count}
    {count === 1 ? "time" : "times"}
</button>
