<script>
    let value = "Some words are *italic*, some are **bold**";

    $: if (value.length < 1) {
        value = "Please write something";
    }
</script>

<p>{value}</p>
<textarea bind:value />

<style>
    textarea {
        width: 100%;
        height: 200px;
    }
</style>
