<script>
    import Nested from "./Nested.svelte";
</script>

<p>This is a paragraph</p>
<Nested />

<style>
    p {
        color: purple;
        font-family: "Comic Sans MS", cursive;
        font-size: 2em;
    }
</style>
