<script>
    export let data;
    export let form;
</script>

<h1>todos</h1>

{#if form?.error}
    <p class="error">{form.error}</p>
{/if}

<form action="?/create" method="post">
    <label>
        add a todo:
        <input name="description" required value={form?.description ?? ""} />
    </label>
</form>

<ul>
    {#each data.todos as todo (todo.id)}
        <li class="todo">
            <form action="?/delete" method="post">
                <input type="hidden" name="id" value={todo.id} />
                <button aria-label="Mark as complete">✔</button>
                {todo.description}
            </form>
        </li>
    {/each}
</ul>
